

.font{
    font-family: "Inter";
}

.font2{
    font-family: "Raleway";
}

/* .bannarSection{
    background-image: url(./images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    
} */